{% extends 'base.html' %}

{% block main %}

<div class="home_container">



    <div class="left">
        <div class="profile_card">
            <div class="profile_card_top">
                <div class="profile_bg">
                    <img src="https://picsum.photos/150/150" class="profile_img" />
                </div>
                <div class="profile_card_name">
                    <h6>Name : Demo Name </h6>
                    <h6>PROJECT MANAGER </h6>
                </div>
            </div>
            <!-- <div class="profile_card_bottom"></div> -->
        </div>
    </div>




    <div class="middle">
        <div class="middle_top_container">
            <h1>CREATE YOUR POST</h1>
            <div class="sm_caption_container">
                <H4 class="sm_caption" ># SHARE IDEAS</H4>
                <H4 class="sm_caption" ># SHARE NEWS</H4>
                <H4 class="sm_caption" ># SHARE STORY</H4>
                <H4 class="sm_caption" ># ...  </H4>
                <!-- <button id="modal_toggler" >Click</button> -->
                
            </div>
            <button id="modal_toggler" class="glow-on-hover" type="button">CREATE POST </button>
            <div class="create_post_container_close post_modal">
                <form method="post" action="{% url 'create_post' %}" class="create_post_form">
                    {% csrf_token %}
                    <textarea rows="6" name="caption" placeholder="Write Your Post  " id=""></textarea>
                    <button type="submit">CREATE POST</button>
                </form>
            </div>
        </div>

        <div class="post_cards_container">

            {% for post in posts %}

                <div class="post_card">
                    <div class="post_header">
                        <img src="https://picsum.photos/id/{{forloop.counter}}/200/200"/>
                        <div class="uploaded_by" >
                            <h5 >{{post.user.username}}</h5>
                            <h6 >Account Executive</h6>
                            <p>11 min ago</p>
                        </div>
                    </div>

                    <div class="post_caption">
                        <p>post.caption</p>
                    </div>

                    <div class="post_img">
                        <img  src="https://picsum.photos/id/{{forloop.counter1}}/300/300"/>
                    </div>
                </div>
            
            {% endfor %}

        </div>


    </div>






    <div class="right">
        <div class="linkdin_news_container">
            <h3>LINKDIN NEWS</h3>
            <div class="linkdin_news_item">
                <div>
                    <h6>Intel to build 433 Arizona factory</h6>
                    <p>
                        Lorem sit amet. Lorem ipsum dolor sit amet. ...
                    </p>
                </div>
                <div>
                    <h6>It is the time for promotion</h6>
                    <p>
                        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. ...
                    </p>
                </div>
                <div>
                    <h6>Intel to build 433 Arizona factory</h6>
                    <p>
                        Lorem sit amet. Lorem ipsum dolor sit amet. ...
                    </p>
                </div>
                <div>
                    <h6>It is the time for promotion</h6>
                    <p>
                        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. ...
                    </p>
                </div>
                <div>
                    <h6>Intel to build 433 Arizona factory</h6>
                    <p>
                        Lorem sit amet. Lorem ipsum dolor sit amet. ...
                    </p>
                </div>
                <div>
                    <h6>It is the time for promotion</h6>
                    <p>
                        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. ...
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sidebar active">
    <h3 class="sidebar-header">NEWS</h3>
    <div class="linkdin_news_container">
        <h3>LINKDIN NEWS</h3>
        <div class="linkdin_news_item">
            <div>
                <h6>Intel to build 433 Arizona factory</h6>
                <p>
                    Lorem sit amet. Lorem ipsum dolor sit amet. ...
                </p>
            </div>
            <div>
                <h6>It is the time for promotion</h6>
                <p>
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. ...
                </p>
            </div>
            <div>
                <h6>Intel to build 433 Arizona factory</h6>
                <p>
                    Lorem sit amet. Lorem ipsum dolor sit amet. ...
                </p>
            </div>
            <div>
                <h6>It is the time for promotion</h6>
                <p>
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. ...
                </p>
            </div>
            <div>
                <h6>Intel to build 433 Arizona factory</h6>
                <p>
                    Lorem sit amet. Lorem ipsum dolor sit amet. ...
                </p>
            </div>
            <div>
                <h6>It is the time for promotion</h6>
                <p>
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. ...
                </p>
            </div>
        </div>
    </div>
  </div>

<script>
    const modal = document.getElementsByClassName('post_modal')[0]
    const btn = document.getElementById('modal_toggler')
    btn.onclick = e => {
        modal.classList.add('create_post_container_open')
        modal.classList.remove('create_post_container_close')
    }
    
    window.onclick = e => {
        if(e.target===modal) {
            modal.classList.add('create_post_container_close')
            modal.classList.remove('create_post_container_open')
        }

    }

    function toggleSidebar() {
        const sidebar = document.querySelector(".sidebar");
        sidebar.classList.toggle("active");
      }

</script>

{% endblock main %}