<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top pt-3">
    <div class="container">
        <a href="{% url 'index' %}" class="navbar-brand">FACEMASK</a>
        <ul class="navbar-nav d-flex flex-row gap-2 align-items-center">
            {% if user.is_authenticated %}
                <li class="nav-item mt-2">
                    <p class="h6 text-dark" >HI {{user.username}}</p>
                </li>
                <li class="nav-item">
                    <button class='btn btn-outline-dark navbar-toggler sidebar_news' onclick="toggleSidebar()">
                        News
                    </button>
                </li>
                <a href="{% url 'logout' %}" class="btn btn-outline-danger btn-sm">Logout</a>
            {% else %}
                <form method="post" action="{% url 'login' %}" class="d-flex gap-2 h-75">
                    {% csrf_token %}
                    <input type="text" placeholder="eg : dhritesh2342" name="username" class="form-control form-control-sm">
                    <input type="password" name="password" placeholder="eg : zx8xc8eer9t" class="form-control form-control-sm">
                    <input type="submit" value="lOGIN" class="btn btn-sm btn-success">
                </form>
            {% endif %}
        </ul>
    </div>
</nav>